@charset "utf-8";

*,*:after,*:before{box-sizing:border-box;}
#mbox{display:grid; width:80%; margin:2rem auto; grid-template-columns:repeat(2,1fr); column-gap:2rem;}

#box{height:360px; position:relative;}
.part{width:80%; position:absolute; left:50%;top:50%; transform:translate(-50%,-50%);}
.part h2,h3{margin:1rem 0;}
.txt{margin:2rem 0 1rem 0; font-weight:bold; font-style:italic;}
.text{line-height:1.6;}
.device{position:absolute;/*height:550px;*/ padding:90px 10px; border: 5px solid #2f2f2f; background:#171717; box-shadow:0 0 50px 10px rgba(0, 0, 0, 0.4); border-radius:60px;}
.device:before, .device:after{content:""; position:absolute; z-index:2;} /*공통으로 들어가는 부분*/
/*z-index는 겹치는 상자를 위치를 조정하는 역할로 없어도 큰 이상이 없으면 없애도 되고 숫자는 어떤 숫자를 입력해도 상관없다.*/
.device:before{width:18%; height:7px; top:40px; left:50%; transform: translateX(-50%); border-radius:10px; background:#2f2f2f;} /* 핸드폰의 위에 회색 타원형 */
.device:after{width:30px; height:30px; border-radius:50%; border: 5px solid #2f2f2f; left:50%; transform:translateX(-50%); bottom:20px;}

.device iframe{width:360px; height:500px; margin-left:auto; margin-right:auto; background:#fff;}
/* margin: 0 auto;가 작동되지 않을 경우 margin-left와 margin-right 를 auto로 각각 따로 적어주어야 한다. */
